@font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Thin'), local('GT-Walsheim-Pro-Thin'),
        url('GTWalsheimPro-Thin.woff2') format('woff2'),
        url('GTWalsheimPro-Thin.woff') format('woff'),
        url('GTWalsheimPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }